<style type="text/css">

body{/* Normal */
  font-size: 18px;
  font-family: "Corbel";
  }
  
td{/* Table */
  font-size: 14px;
  font-family: "Corbel";
  }

h1.title{
  font-size: 38px;
  font-family: "Corbel";
  color: DarkRed;
  }

h1{/* Header 1 */
  font-size: 28px;
  font-family: "Corbel";
  color: DarkBlue;
  }
  
h2{/* Header 2 */
  font-size: 22px;
  font-family: "Corbel";
  color: DarkBlue;
  }
  
h3{/* Header 3 */
  font-size: 18px;
  font-family: "Book Antigua";
  color: DarkBlue;
  }
code.r{/* Code block */
    font-size: 13px;
    font-family: "Book Antigua";
  }
pre{/* Code block - determines code spacing between lines */
    font-size: 13px;
    font-family: "Book Antigua";
  }
  
pre code.bash {
  background: #B53389;
  font-size: 13px;
  font-family: "Book Antigua";
  }
  
</style>
